@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.brandlogo{
  font-family: 'Grand Hotel', cursive;
  font-size: xx-large;
}

a{
  color: black !important;
  font-size: x-large;
}

.auth-card h2 {
  font-family: 'Grand Hotel', cursive;
}
.auth-card{
  margin: 15px auto;
  padding: 20px;
  text-align: center;
  max-width: 400px;
  border-radius: 10px;
}
.btn{
  color: black;
  border-radius: 8px;
}
.input-field input[type=email],[type=password],[type=text]:focus {
  border-bottom: 1px solid rgb(226, 226, 0) !important;
  box-shadow: 0 1px 0 0 rgb(226, 226, 0) !important;
}
::placeholder{
  color: black;
  opacity: 0.5;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item{
  width: 30%;
}
.home-card{
  max-width: 500px;
  height: max-content;
  margin: auto;
}
